* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #FFFFFF;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    width: 100vw;
    height: 105px;
    position: absolute;
    justify-content: center;
    top: 0px;
    background-color: #0095B6;
    border-bottom: 3px solid #000000;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav li {
    text-decoration: none;
    padding: 7px 15px;
}
