* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    color: rgb(22,22,22);
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: rgb(22,22,22);
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: rgb(255,255,255);
    padding: 7px 15px;
    text-decoration: none;
}

.nav.active {
    background-color: rgb(255,255,255);
    padding: 10px 0;
    border-bottom: 3px solid black;
}

.nav.active a {
    color: black;
}

.nav a.current, .nav a:hover {
    font-size: 16;
    transition: 1s ease;
}

.text.active {
    opacity: 0;
}

.text {
    opacity: 0;
    animation: fadeIn 3s forwards;
}
