* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 12px;
    color: rgb(22,22,22);
    padding-bottom: 50px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
}

.nav {
    position: fixed;
    background-color: rgb(22,22,22);
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    transition: ease-out 0.25s;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav .logo {
    font-size: 35px;
}

.nav .logo:hover {
    font-size: 40px;
    color: rgb(90, 235, 125);
    transition: 0.5s ease;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: rgb(255,255,255);
    padding: 7px 15px;
    text-decoration: none;
    transition: 0.25s ease-out;
}

.nav .link {
    font-size: 20px;
}

.nav a.current, .nav .link:hover {
    font-size: 25px;
    color: rgb(90, 235, 125);
    transition: 0.5s ease;
}

.hero {
    position: relative;
    background-image: url('../images/ER_AKu&Di.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    z-index: -2;
}

.textBox {
    font-size: 20px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 50px 25px;
    width: 99.9vw;
    height: 100vh;
    top: 0px;
    border-radius: 5px;
}

.logoBox {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    transition: ease-out 1s;
}

.linkBoxLeft {
    background-color: rgb(50, 50, 50);
    border-radius: 10px 0px 0px 10px;
    transition: ease-out 1s;
}

.linkBoxLeft:hover {
    border-radius: 10px;
    transition: ease 0.5s;
}

.linkBox {
    background-color: rgb(50, 50, 50);
    transition: ease-out 1s;
}

.linkBox:hover {
    border-radius: 10px;
    transition: ease 0.5s;
}

.linkBoxRight {
    background-color: rgb(50, 50, 50);
    border-radius: 0px 10px 10px 0px;
    transition: ease-out 1s;
}

.linkBoxRight:hover {
    border-radius: 10px;
    transition: ease 0.5s
}

.nav.active .logoBox {
    margin-left: -300px;
    transition: ease 1s;
}

.nav.active .linkBoxRight {
    margin-right: -300px;
    transition: ease 1s;
}
